body {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#log_table {
    margin-top: 30px;
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.form-control.from-box {
    width:10%;
    margin-left: 2.5%;
}

.form-control.to-box {
    width:10%; 
    margin-left: 2.5%
}

.input-group-addon.to-label {
    width:10%;
    margin-left: 2.5%;
    color:whitesmoke;
}

.updatelog-button-container {
    text-align: center; 
    margin-top:40px;
    margin-bottom: 20px;
}

.live-log-button-container {
    text-align: center;
    margin: 10px;
}

.top-container {

}