/* body {
    background-color: #c6dce6;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #dbf0f1 51%, #cedde2 75%);
} */

#log_table {
    margin-top: 30px;
    width: 100%;
    /* background-color: #c6dce6;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #dbf0f1 51%, #cedde2 75%); */
}

.form-control.from-box {
    width:10%;
    margin-left: 2.5%;
}

.form-control.to-box {
    width:10%; 
    margin-left: 2.5%
}

.input-group-addon.to-label {
    width:10%;
    margin-left: 2.5%;
    color:whitesmoke;
}

.updatelog-button-container {
    text-align: center; 
    margin-top:40px;
    margin-bottom: 20px;
}
/* td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
} */