<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
<form class="form-inline" method="POST" action="{{ url_for('setcookie') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"></span>
            <select name="file" class="selectpicker form-control">
			    {% for file in files %}
			    <option value= "{{file}}" SELECTED>{{ file }}</option>"
			    {% endfor %}
			  </select>
			     </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form>