<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
    <script src = "https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>    
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body> 
    <div class="top-container">
        <div class="updatelog-button-container">
            <button id="updatelog" class="btn btn-primary" >Update Logs</button>

            <script type="text/javascript">
                document.getElementById("updatelog").onclick = function () {
                    location.href = "http://127.0.0.1:5000/logtable";
                };
            </script>
        </div>

        <div class="live-log-button-container">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="toggle-live-log-checkbox" checked>
                <label class="custom-control-label" for="toggle-live-log-checkbox">Live log</label>
            </div>
        </div>
    </div>

    <div style="display: inline-flex;margin-inline-start: 93px;">
        <input style="font-size:16px;color: rgb(61, 54, 54);"id="from" placeholder="From" width="250" />
            <script>
                $('#from').datetimepicker({
                    showOtherMonths: false,
                    footer:true,
                    
                    format: 'yyyy-mm-dd HH:MM:ss',
                });
            </script>
        <input style="font-size:16px;color: rgb(61, 54, 54);" id="to" placeholder="To" width="250" />
            <script>
                $('#to').datetimepicker({
                    showOtherMonths: false,
                    footer:true,
                    // modal:true,
                    format: 'yyyy-mm-dd HH:MM:ss',
                });
            </script>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table style="width:100%" class="table table-hover table-light data-table" id="log_table">
                    <thead class="thead-dark display-4" style="text-align: center;font-size:20px;">
                            <tr>
                                <th>Timestamp</th>
                                <th>Loglevel</th>
                                <th>Message</th>
                                <th class="none"><b>Source</b></th>
                                <th class="none"><b>EventID</b></th>
                                <th class="none"><b>TraceID</b></th>
                                <th class="none"><b>spanID</b></th>
                                <!-- <th>Audit</th> -->
                                <!-- <th>Null</th> -->
                                <!-- <th>SpanID</th> -->
                                <th class="none"><b>stackTrace</b></th>
                            </tr>
                        </thead>
                <script>
                    var logArr = new Array();
                    var source = new EventSource("{{ url_for('sse.stream') }}");
                    source.addEventListener('greeting', function(event) {
                        var data = JSON.parse(event.data);
                        alert("The server says " + data.message);
                    }, false);

                    source.addEventListener('error', function(event) {
                        alert("Failed to connect to event stream. Is Redis running?");
                    }, false);
                    
                    $('#toggle-live-log-checkbox').change(function(){
                        if($(this).is(':checked')) {
                            populateTableFromArray();
                        }
                    });
                    source.addEventListener('logstream', function(event) {
                        var data = JSON.parse(event.data);
                        // console.log(event.data)
                        checkbox = $("#toggle-live-log-checkbox").prop("checked");
                        if (checkbox == false) {
                            storeLogData(data);
                        } else {
                            populateDataTable(data)
                        }  
                    }, false);

                    function populateDataTable(data) {
                        console.log("populating data table...");
                        var table = $('#log_table').DataTable();
                        var newrow = "<tr><td>" + data.timestamp + "</td><td>" + data.loglevel + "</td><td>" + data.message + "</td><td>" + data.source + "</td><td>" + data.eventID + "</td><td>" +  data.traceID + "</td><td>" + data.spanID + "</td><td>" + data.stackTrace + "</td></tr>";
                        table.row.add($(newrow)).draw();
                    }

                    function storeLogData(data) {
                        logArr.push(data);
                    }

                    function populateTableFromArray() {
                        console.log("populating table from array...");
                        console.log(logArr);
                        // if (logArr.length== 0);
                        //     console.log("array length is 0?");
                        //     return;
                        var table = $('#log_table').DataTable();
                        logArr.forEach(element => {
                            var newrow = "<tr><td>" + element.timestamp + "</td><td>" + element.loglevel + "</td><td>" + element.message + "</td><td>" + element.source + "</td><td>" + element.eventID + "</td><td>" +  element.traceID + "</td><td>" + element.spanID + "</td><td>" + element.stackTrace + "</td></tr>";
                            table.row.add($(newrow)).draw();
                        });
                        logArr = [];
                    }
                    
                </script>
            </table>
        </div>
    </div>

</body>
</html>